{% extends "blog/base.html" %}
{% load static %}
{% block content %}
    <br>
    <article class="content-section">
        <div class="media-body">
        <div class="page-title">
            <large>About</large>
        </div>
        <p class="article-content">
            <img src="{% static '/media/profile_pics/pumpkin_patch.JPG' %}" align="left" hspace="50" vspace="50" style="width:20%;">
            Hey there. My name is Rob Lee and I'm a Product Manager, Developer, and Machine Learning enthusiast.

            My background is in Industrial Engineering and I've worked 4 years in Operations Management before making my switch to software development and machine learning. For the past 2 years I've worked as a professional developer.

            I wasn't classically trained in software development, but rather (like so many before me) have attended a coding bootcamp to acquire my coding skills. 

            This blog was created with Django and Python and is helping to serve as a blogging platform for me to showcase projects I've been interested in and have worked on.

        </p>
        </div>
    </article>
{% endblock content %}




