{% extends "blog/base.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
        <div class="page-title">
            <large>Contact Me</large>
        </div>
        <p class="article-content">
            Name: Rob Lee
            Phone: 201-983-9819
            Email: robshlee@gmail.com
            Github: <a href="github.com/robshlee">github.com/robshlee</a>
            LinkedIn: <a href="linkedin.com/in/robshlee/">linkedin.com/in/robshlee/</a>
        </p>
        </div>
    </article>
{% endblock content %}

