{% extends "blog/base.html" %}
{% block content %}
    <br>

    <article class="media content-section">
        <div class="media-body">
        <div class="page-title">
            <large>Reading List</large>
        </div>
        <p class="article-content">
            <div>
                <h4>Current Reading List</h4>
                <span class="book-title">Cracking the Coding Interview</span> by Gayle Laakmann McDowell<br>

            </div>
            <br><br>
            <div>
                <h3>Past Readings</h3>
                <span class="book-title">Deep Work: </span><span class="book-detail">Rules for Focused Success in a Distracted World</span> by Cal Newport <br>
                <span class="book-title">Indistractable: </span><span class="book-detail">How to Control Your Attention and Choose Your Life</span> by Nir Eyal <br>
                <span class="book-title">Peak: </span><span class="book-detail">Secrets from the New Science of Expertise</span> by Anders Ericsson <br>
                <span class="book-title">Rhinoceros Success: </span><span class="book-detail">How to Control Your Attention and Choose Your Life</span> by Nir Eyal <br>

                <b>Rhinoceros Success: the Secret to Charging Full Speed Toward Every Opportunity</b> by Scott Alexander <br>
                <b></b>
            </div>
            <br><br>
            <div>
                <h4>Waiting to Read</h4>

            </div>



            
        </p>
        </div>
    </article>
{% endblock content %}

